<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>List of Users</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<!-- Optional theme
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" /> -->
<!-- Custom Fonts -->
<link href="/public/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<link
	href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
	rel="stylesheet" type="text/css" />
<!-- Plugin CSS -->
<link rel="stylesheet" href="/public/css/animate.min.css"
	type="text/css" />
<!-- Custom CSS -->
<link rel="stylesheet" href="/public/css/landing-page.css"
	type="text/css" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top">
	<nav class="navbar navbar-default navbar-fixed-top topnav"
		role="navigation">
		<div class="container topnav">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand topnav" href="/">Feed Reader</a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul th:if="!${currentUser}" class="nav navbar-nav navbar-right">
					<li><a href="/login"><span
							class="glyphicon glyphicon-log-in"></span> Log In</a></li>
				</ul>
				<div th:if="${currentUser}">
					<ul class="nav navbar-nav navbar-left">
						<li><a th:href="'/user/' + ${currentUser.id}">View myself</a></li>
						<li><a href="/add">Add a feed</a></li>
						<li th:if="${currentUser.isAdmin}"><a href="/user/create">Create
								a new user</a></li>
						<li th:if="${currentUser.isAdmin}"><a href="/users">View
								all users</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<form class="navbar-form  pull-left" th:action="@{/logout}"
								method="post">
								<!-- class="navbar-form navbar-right" pull-right -->
								<div class="form-group">
									<button class="btn btn-default navbar-btn" type="submit">
										<span class="glyphicon glyphicon-log-out"></span> Log out
									</button>
								</div>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<!-- Content -->

	<div class="container container-content">

		<div class="row">
			<div>
				<!-- <div class="col-lg-5 col-sm-6">   -->
				<div class="content-section-b">
					<div class="clearfix"></div>
					<h2 class="section-heading">List of Users</h2>
					<div th:inline="text">
						<table class="table">
							<thead>
								<tr>
									<th>E-mail</th>
									<th>Role</th>
									<th>Feeds</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user : ${users}">
									<td><a th:href="'/user/' + ${user.id}"
										th:text="${user.email}">email</a></td>
									<td th:text="${user.role}">role</td>
									<td>
										<ul th:each="f : ${user.feed}">
											<li th:text="${f.url}">feed</li>
										</ul>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.content-section-b -->
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>